<html>
    <head>
        <title>Daily News Robot</title>
        <script type="text/javascript" src="http://www.google.com/jsapi">
        </script>
        <link type="text/css" rel="stylesheet" href="/css/style.css" />
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script> 
		<script type="text/javascript" src="js/jqXMLUtils.js"></script>
    </head>
    <body>
        <script type="text/javascript">
    display("/news?src=dn&sec=top","top_news");
    //display("/stockholm","stockholm_news");
        
    function display(url, divId){
    //using jQuery ajax request
    $.ajax({
        type: "GET",
        url: url, 
        dataType: "xml", //Make sure that you specify the type of file you expecting (XML)
        complete: function(data) {
            var json = $.xmlToJSON(data.responseXML);
            //Now I want to get a value of the second node
            //alert(json.channel[0].title[0].Text);
            
            var html = '<p>Daily News Robot</p>';
            
            for(var i = 0;i<json.channel[0].item.length;i++){
                var title = json.channel[0].item[i].title[0].Text;
                var link = json.channel[0].item[i].link[0].Text;
                var description = json.channel[0].item[i].description[0].Text;
                var pubDate = json.channel[0].item[i].pubDate[0].Text;
                
                html = html.concat('<p><a href="'+link+'" target="_blank">'+title+'</a></p>');
                html = html.concat('<ul><li>'+pubDate+'</li>');
                html = html.concat('<li>'+description+'</li></ul>');
            }
 
            $('#'+divId+'').html(html);
        }
    });
    }
    
      </script> 
      
        <div id="top_news" class="container"> 
          
        </div>
        <div id="stockholm_news" class="container"> 
        </div> 
    

    <!--{% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}

    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>-->

    
    <div class="small"> 
    Created by {{author}}
    Version: Dev - 1.0.0
    <br />
    App was built on: 
    </div>

    
  </body>
</html>