h1,.section_title{
    font-family: 'UnifrakturMaguntia','georgia',verdana, arial, sans-serif;
}

body {
    color: #000;
    font-size: 100%;
    /*font-family: 'Lucida Grande','georgia',verdana, arial, sans-serif;*/
    font-family: 'Crimson Text','georgia',verdana, arial, sans-serif;
}

table#news td {
    font-size: 16px;
    width: 25%;
    vertical-align: top;
}

.small{
    font-size: 11px;
}

#page_header{
    text-align:center;
}

.news_element{
    padding-left:10px;
    border-bottom: 1px dashed #CFD2E8;
}

.news_title{
    padding-top:10px;
    font-size: 110%;
}

.news_date{
    color: #767676;
    font-size: 80%;
}

.news_content{
    padding-top:10px;
    font-size: 105%;
    padding-bottom:10px;
}

.section_title{
    text-align: center; 
    background-color: #E9EAF5;
    border-bottom: 1px dashed #CFD2E8;
    font-size: 120%;
}
.container{
    border-left: 1px dashed #CFD2E8;
    border-right: 1px dashed #CFD2E8;
    border-top: 1px dashed #CFD2E8;
}